<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canva Design Generator</title>
  <script type="module" crossorigin src="/canva-design-generator.js"></script>
  <link rel="modulepreload" crossorigin href="/jsx-runtime-B-opF5ec.js">
  <link rel="modulepreload" crossorigin href="/utils-Bv2t6hMY.js">
  <link rel="modulepreload" crossorigin href="/canva-design-generator-CGVMZZi3.js">
  <link rel="stylesheet" crossorigin href="/jsx-runtime-BVzIBmse.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>
